@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "Administrar Usuario";
}



<html>
<head>
    <style>
            .header {
            text-align: center;
            height: 470px;
            padding: 12px;
            background-image: url("https://www.todofondos.net/wp-content/uploads/mas-de-67-fondos-de-pantalla-de-fondo-blanco.-fondo-de-pantalla-blancos.jpg")
        }
      </style>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  
           
        
</head>
<body>
    <div class="header">
        
        <br>
        <h1><center>Sistema de Gestion De Posgrado</h1></center>
        <br />
        <br />
        <h3>Editar Usuario:</h3>
        <div style="text-align:right" style="color:red"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>

        <input type="text" placeholder="Ingresar Usuario" class="Usuario">
        <input type="submit" class="submit" value="Buscar">
        <br />
        <br />
        <table style="width: 100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Documento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPrograma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Eliminar
                </th>

            </tr>

            <tr>
                <td>@Html.DisplayNameFor(modelItem => modelItem.TipoDoc)</td>
                <td>@Html.DisplayNameFor(modelItem => modelItem.Documento)</td>
                <td>@Html.DisplayNameFor(modelItem => modelItem.Nombre)</td>
                <td>@Html.DisplayNameFor(modelItem => modelItem.Apellido)</td>
                <td>@Html.DisplayNameFor(modelItem => modelItem.IdPrograma)</td>
                <td>@Html.DisplayNameFor(modelItem => modelItem.Rol)</td>
                
            </tr>
           
        </table>
        <br />
        <br />
        <div style="text-align:right"> <a href="https://localhost:44384/Admin/MenuAdmin" class="cbutton">Volver</a></div>
    </div>
</body>
</html>

