@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "Entrevista Admision";
}

<head>
    <style>
        .header {
            height: 700px;
            padding: 12px;
            background-image: url("https://www.todofondos.net/wp-content/uploads/mas-de-67-fondos-de-pantalla-de-fondo-blanco.-fondo-de-pantalla-blancos.jpg")
        }
    </style>
</head>
<body>
    <div class="header">



        <br>
        <h1><center>Sistema de Gestion De Posgrado</h1></center>
        <br />
        <h2>Entrevista de Admisiones:</h2>
        <div style="text-align:right"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>
        <br />
        <form method="post">
            <div class="barra-busqueda">
                <label asp-for="Documento">Buscar documento</label>
                <input asp-for="Documento" type="text" placeholder="Documento aquí...">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>

            <div class="bltbl">
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TipoDoc)</th>
                        <th>@Html.DisplayNameFor(model => model.IdPrograma)</th>
                        <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => modelItem.TipoDoc)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.IdPrograma)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Telefono)</td>
                    </tr>
                </table>
            </div>

            <div class="bltbl">
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Documento)</th>
                        <th>@Html.DisplayNameFor(model => model.Genero)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => modelItem.Documento)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Genero)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Email)</td>
                    </tr>
                </table>
            </div>

            <div class="barra-busqueda">
                <p>¿Es egresado?</p>
                <div class="r-buttons">
                    <button class="btn btn-secondary">Si</button>
                    <button class="btn btn-secondary">No</button>
                </div>
            </div>

            <div class="buttons">
                <button class="btn btn-secondary">Guardar</button>
                <button class="btn btn-secondary">cancelar</button>
            </div>
        </form>

        </html>

