@model SGPI.Models.Homologacion

@{
    ViewData["Title"] = "Homologacion Asignatura";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .header {
            text-align: center;
            height: 800px;
            padding: 12px;
            background-image: url("https://img.freepik.com/vector-gratis/diseno-fondo-blanco-estilo-perspectiva-3d-forma-hexagonal_1017-27558.jpg?w=2000")
        }
    </style>
</head>


<body>
    <div class="header">
     <style>
        body {
          background-image: url('https://static.vecteezy.com/system/resources/previews/001/176/927/original/blue-and-white-abstract-background-vector.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
   </style>



     <form method="post">
         <div style="text-align:right"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>
         <br>

         <br>

         <br>
         <h1><center>Homologacion de Asignaturas</h1></center>
         <br /> <br />><h2>Ingreso de datos</h2><br /><br />


         <div class="form-row">



             <br />



             <label asp-for="FechaHomologacion">Fecha de Homologacion:</label>
             <input asp-for="FechaHomologacion" type="date" placeholder="Fecha ">

             <label asp-for="Universidad">Universidad:</label>
             <input asp-for="Universidad" type="text" placeholder="Universidad ">

             <label asp-for="Nota">Nota:</label>
             <input asp-for="Nota" type="text" placeholder="Nota ">

             <label asp-for="IdPrograma">Programa</label>
             @Html.DropDownList("IdPrograma", new SelectList(ViewBag.Programa, "IdPrograma", "ValPrograma"));


         </div>
         <br />

         <div class="form-row">


             <label asp-for="IdModulo">Modulo</label>
             @Html.DropDownList("IdModulo", new SelectList(ViewBag.Modulo, "IdModulo", "ValModulo"));

         </div>



         <div class="buttons">
             <button class="btn btn-outline-primary " type="submit">Guardar</button>
             <a href="https://localhost:44384/Coordinador/HomologacionAsignatura" <button type="button" class="btn btn-outline-secondary ">Limpiar</button></a>
         </div>
     </form>
                <br /><br /><h2>Búsqueda de datos</h2><br />


                        <div class="barra-busqueda">

                            <a href="https://localhost:44384/Coordinador/Buscar" <button type="button" class="btn btn-outline-secondary float-right">Buscar</button></a>
                        </div>
                        <br /><br />
                        <div class="bltbl">
                            <table style="width: 100%">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaHomologacion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Universidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nota)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPrograma)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdModulo)
                                    </th>

                                </tr>
                                <tr>
                                    <td class="td fechahomologacon-homologacion">@Html.DisplayFor(modelItem => modelItem.FechaHomologacion)</td>
                                    <td class="td universidad-homologacion">@Html.DisplayFor(modelItem => modelItem.Universidad)</td>
                                    <td class="td nota-homologacion">@Html.DisplayFor(modelItem => modelItem.Nota)</td>
                                    <td class="td idprograma-homologacion">@Html.DisplayFor(modelItem => modelItem.IdPrograma)</td>
                                    <td class="td idmodulo-homologacion">@Html.DisplayFor(modelItem => modelItem.IdModulo)</td>
                                </tr>
                                
                            </table>
                            </div>
                        
                
            <br /><br />
            <a href="https://localhost:44384/Coordinador/MenuCoordinador" <button type="button" class="btn btn-outline-secondary float-right">Volver</button></a>
            
    </div>
     
</body>

