@model SGPI.Models.Homologacion
@{
    ViewData["Title"] = "Homologacion Asignatura";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .header {
            height: 700px;
            padding: 12px;
            background-image: url("https://www.todofondos.net/wp-content/uploads/mas-de-67-fondos-de-pantalla-de-fondo-blanco.-fondo-de-pantalla-blancos.jpg")
        }
    </style>
</head>
<body>
    <div class="header">
        <style>

            body {
                background-image: url('https://static.vecteezy.com/system/resources/previews/001/176/927/original/blue-and-white-abstract-background-vector.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>



        <form method="post">
            <div style="text-align:right"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>
            <br>
            <h1 style="text-align: center" class="title">Crear usuario</h1>
            <br>

            <div class="form-row">

                <div class="header">
                    <br>
                    <h1><center>Sistema de Gestion De Posgrado</h1></center>
                    <br />
                    <br />
                    <h2>Homologacion de Asignaturas:</h2>
                    <div style="text-align:right"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>

                    <label asp-for="FechaHomologacion">Fecha de Homologacion:</label>
                    <input asp-for="FechaHomologacion" type="date" placeholder="Fecha ">

                    <label asp-for="Universidad">Ingresar el nombre:</label>
                    <input asp-for="Universidad" type="text" placeholder="Universidad ">

                    <label asp-for="Nota">Ingresar el nombre:</label>
                    <input asp-for="Nota" type="text" placeholder="Nota ">

                    <label asp-for="IdPrograma">Programa</label>
                    @Html.DropDownList("IdPrograma", new SelectList(ViewBag.Programa, "IdPrograma", "ValPrograma"));

                    <label asp-for="IdModulo">Modulo</label>
                    @Html.DropDownList("IdModulo", new SelectList(ViewBag.Modulo, "IdModulo", "ValModulo"));
                </div>
                <div class="buttons">
                    <button class="btn btn-outline-primary float-right" type="submit">Guardar</button>

                </div>
                </form>
                <form method="post">
                    <div class="container-fluid">
                        

                        <div class="barra-busqueda">

                            <input asp-for="Universidad" type="text" placeholder="Universidad">
                            <button type="submit" class="btn btn-outline-primary btn-sm">Buscar</button>
                        </div>
                        <div class="bltbl">
                            <table style="width: 100%">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaHomologacion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Universidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nota)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPrograma)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdModulo)
                                    </th>

                                </tr>
                                <tr>
                                    <td class="td fechahomologacon-homologacion">@Html.DisplayFor(modelItem => modelItem.FechaHomologacion)</td>
                                    <td class="td universidad-homologacion">@Html.DisplayFor(modelItem => modelItem.Universidad)</td>
                                    <td class="td nota-homologacion">@Html.DisplayFor(modelItem => modelItem.Nota)</td>
                                    <td class="td idprograma-homologacion">@Html.DisplayFor(modelItem => modelItem.IdPrograma)</td>
                                    <td class="td idmodulo-homologacion">@Html.DisplayFor(modelItem => modelItem.IdModulo)</td>
                                </tr>
                                
                            </table>
                            </div>
                        </div>
                </form>
            <br />

            <div style="text-align:right">
                <div style="text-align:right"> <a href="https://localhost:44384/Coordinador/HomologacionAsignatura" class="cbutton">Ingresar</a></div>
                <br>
                <a href="https://localhost:44384/Coordinador/MenuCoordinador" <button type="button" class="btn  btn-outline-secondary float-right">Volver</button></a>
                <br>
                <div style="text-align:right"> <a href="https://localhost:44384/Coordinador/HomologacionAsignatura" class="cbutton">Guardar</a></div>
            </div>
    </div>
</body>

